<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.baron.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="me.baron.weather.WeatherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.baron.weather.activities.WelcomeActivity"
            android:theme="@style/LaunchTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.baron.weather.activities.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="me.baron.weather.activities.SelectCityActivity"
            android:label="@string/title_activity_select_city"
            android:parentActivityName="me.baron.weather.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.baron.weather.activities.MainActivity" />
        </activity>

        <activity
            android:name="me.baron.weather.activities.CityManagerActivity"
            android:label="@string/title_activity_city_manager"
            android:parentActivityName="me.baron.weather.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.baron.weather.activities.MainActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e6eaabb81f90778f04a9c8207635e6e32212f279" />
    </application>

</manifest>